<h3>Pizzas Made</h3>
<table class="pizza">
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
      <% @pizzas.each do |p| %>
      <tr>
        <td><%= p.date %></td>
        <td><%= p.amount %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<h3>Complaints</h3>
<table class="complaints">
  <thead>
    <tr>
      <th>Date</th>
      <th>Complaints</th>
    </tr>
  </thead>
  <tbody>
    <% @complaints.each do |c| %>
    <tr>
      <td><%= c.date %></td>
      <td><%= c.total %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<canvas id="myChart" width="400" height="400"></canvas>


<script type="text/javascript">
    (function() {
      var pizzas = <%= raw @pizzas.to_json %>;
      var complaints = <%= raw @complaints.to_json %>;
      var xAxis = [];
      var pizzaData = [];
      var complaintData = [];

      for(var i=0; i<pizzas.length; i++)
      {
          var p = pizzas[i];
          var c = complaints[i];
          xAxis.push(p.date);
          pizzaData.push(p.amount);
          complaintData.push(c.total);
      }

      console.log(xAxis);
      console.log(pizzaData);
      console.log(complaintData);

      var data = {
          labels : xAxis,
          datasets : [
              {
                  fillColor : "rgba(220,220,220,0.5)",
                  strokeColor : "rgba(220,220,220,1)",
                  pointColor : "rgba(220,220,220,1)",
                  pointStrokeColor : "#fff",
                  data : pizzaData
              },
              {
                  fillColor : "rgba(220,220,220,0.5)",
                  strokeColor : "rgba(220,220,220,1)",
                  pointColor : "rgba(220,220,220,1)",
                  pointStrokeColor : "#fff",
                  data : complaintData
              }
          ]
      };

      var ctx = document.getElementById("myChart").getContext("2d");
      var myChart = new Chart(ctx).Line(data);

    })();
</script>